---
const title = Astro.props.title || "AI Safety at UCLA";
const currentPath = new URL(Astro.request.url).pathname.replace(/\/$/, "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={Astro.props.desc || "AI Safety at UCLA"}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <style>
      #widenav a {
        @apply rounded-lg py-1 px-2 text-sm hover:underline;

        &.active {
          @apply underline;
        }
      }

      #narrownav > a {
        @apply block my-2 text-slate-700;
      }

      .dropdown {
        @apply relative;

        & > a {
          @apply relative -top-0.5;
        }
      }

      .dropdown-reveal {
        @apply absolute bg-white p-2 text-right -right-2 left-auto whitespace-nowrap;

        & > a {
          @apply text-slate-700 hover:underline block;
        }
      }
    </style>
    <script>
      document.querySelector("#hamburger")?.addEventListener("click", () => {
        document.querySelector("#narrownav")?.classList.toggle("hidden");
      });
      document.querySelectorAll(".dropdown").forEach((dropdown) => {
        let toggle = () =>
          dropdown
            .querySelector(".dropdown-reveal")
            ?.classList.toggle("hidden");
        dropdown.addEventListener("mouseover", toggle);
        dropdown.addEventListener("mouseout", toggle);
      });
    </script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RTTEHHSKNL"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-RTTEHHSKNL");
  </script>
  <body class="flex flex-col h-screen justify-between">
    <header class="py-6">
      <div class="mx-auto max-w-7xl px-6 sm:px-6 lg:px-8">
        <nav class="relative">
          <div class="flex justify-between text-slate-700 text-lg text-center">
            <a href="/">
              <img
                alt="ai safety logo"
                src="/assets/logo.png"
                class="h-8 w-auto px-2 inline-block"
              />
               AI Safety at UCLA
            </a>
            <div
              id="widenav"
              class="hidden md:flex items-center gap-x-1 md:gap-x-8"
            >
              <div class="dropdown">
                <a
                  class={currentPath === "/fellowships" ? "active" : ""}
                  href="/fellowships"
                >
                  Fellowships
                </a>
                <div class="dropdown-reveal hidden">
                  <a
                    class={currentPath === "/fellowships/cv" ? "active" : ""}
                    href="/fellowships/cv"
                  >
                    Computer Vision
                  </a>
                  <a
                    class={currentPath === "/fellowships/diffusion"
                      ? "active"
                      : ""}
                    href="/fellowships/diffusion"
                  >
                    Diffusion
                  </a>
                  <a
                    class={currentPath === "/fellowships/rl" ? "active" : ""}
                    href="/fellowships/rl"
                  >
                    Reinforcement Learning
                  </a>
                  <a
                    class={currentPath === "/fellowships/transformers"
                      ? "active"
                      : ""}
                    href="/fellowships/transformers"
                  >
                    Transformers
                  </a>
                  <a
                    class={currentPath === "/fellowships/governance"
                      ? "active"
                      : ""}
                    href="/fellowships/governance"
                  >
                    Governance
                  </a>
                </div>
              </div>
              <div class="dropdown">
                <a
                  class={currentPath === "/upskilling-tracks" ? "active" : ""}
                  href="/upskilling-tracks"
                >
                  Upskilling
                </a>
                <div class="dropdown-reveal hidden">
                  <a
                    class={currentPath === "/upskilling-tracks/cuda"
                      ? "active"
                      : ""}
                    href="/upskilling-tracks/cuda"
                  >
                    CUDA Track
                  </a>
                </div>
              </div>
              <div class="dropdown">
                <a
                  class={currentPath === "/research" ? "active" : ""}
                  href="/research"
                >
                  Research
                </a>
                <div class="dropdown-reveal hidden">
                  <a
                    class={currentPath === "/research/chain-of-thought"
                      ? "active"
                      : ""}
                    href="/research/chain-of-thought"
                  >
                    Chain-of-Thought
                  </a>
                </div>
              </div>
              <a
                class={currentPath === "/past-work" ? "active" : ""}
                href="/past-work"
              >
                Past Work
              </a>
              <div class="dropdown">
                <a
                  class={currentPath === "/who-we-are" ? "active" : ""}
                  href="/who-we-are"
                >
                  Who We Are
                </a>
                <div class="dropdown-reveal hidden">
                  <a href="//blog.aisafetyatucla.org/"> Blog</a>
                  <a href="//stats.ais-ucla.org/"> Cluster Stats</a>
                </div>
              </div>
              <a
                class="text-slate-100 bg-slate-900 rounded-lg"
                target="_blank"
                href="//discord.gg/37TzSyrwmf"
              >
                Join Us
              </a>
            </div>
            <div class="block md:hidden" id="hamburger">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </div>
          </div>
          <div id="narrownav" class="hidden border-t mt-4 border-slate-400">
            <a href="/fellowships">Fellowships:</a>
            <a href="/fellowships/cv">Computer Vision</a>
            <a href="/fellowships/diffusion">Diffusion</a>
            <a href="/fellowships/rl">Reinforcement Learning</a>
            <a href="/fellowships/transformers">Transformers</a>
            <a href="/fellowships/governance">Governance</a>
            <hr />
            <a href="/upskilling-tracks">Upskilling Tracks:</a>
            <a href="/upskilling-tracks/cuda">CUDA</a>
            <hr />
            <a href="/research">Research</a>
            <hr />
            <a href="/past-work">Past Work</a>
            <hr />
            <a href="/who-we-are">Who We Are</a>
            <a href="//blog.aisafetyatucla.org/">Blog</a>
            <a href="//stats.ais-ucla.org/">Cluster Stats</a>
            <a target="_blank" href="//discord.gg/37TzSyrwmf">Join Us</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="max-w-5xl mx-auto mb-auto w-full">
      <slot />
    </main>
    <footer class="py-10 bg-slate-900 text-slate-100">
      <div class="mx-auto max-w-7xl flex justify-between px-6">
        <p>&copy; 2025 AI Safety at UCLA</p>
        <div class="flex gap-x-6">
          <a href="//blog.aisafetyatucla.org">Blog</a>
          <a href="//github.com/ais-ucla">Github</a>
          <a href="//discord.gg/37TzSyrwmf">Discord</a>
        </div>
      </div>
    </footer>
  </body>
</html>
